:root {
  /* Primary colors */
  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(195, 100%, 50%);
  --instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%) 0%,
    hsl(329, 70%, 58%) 100%
  );
  --youtube: hsl(348, 97%, 39%);

  /* Switch - Light theme */
  --bgToggle: hsl(230, 22%, 74%);

  /* Neutral colors - Light theme */
  --bgColor: hsl(0, 0%, 100%);
  --topPatternBg: hsl(225, 100%, 98%);
  --cardBg: hsl(227, 47%, 96%);
  --textPrimary: hsl(230, 17%, 14%);
  --textSecondary: hsl(228, 12%, 44%);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textPrimary);
  background-color: var(--bgColor);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.wrapper {
  padding: 0 30px;
}

.grid {
  display: grid;
  grid-row-gap: 25px;
}

/* Header */
.header {
  background: var(--topPatternBg);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 3em;
}
.header-title {
  font-size: 1.5rem;
}
.header-description {
  margin: 0.5em 0;
  color: var(--textSecondary);
  font-size: 0.9rem;
  font-weight: 700;
  border-bottom: 2px solid var(--textSecondary);
  padding-bottom: 1.5em;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark-mode__title {
  color: var(--textSecondary);
  font-size: 0.9rem;
  font-weight: 700;
}
.dark-mode__checkbox {
  display: none;
}
.dark-mode__checkbox:checked ~ .dark-mode__switch::before {
  transform: translateX(0);
}
.dark-mode__switch {
  background: var(--bgToggle);
  height: 25px;
  width: 50px;
  display: block;
  border-radius: 25px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.dark-mode__switch::before {
  content: '';
  display: block;
  background: var(--bgColor);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateX(25px);
  transition: 0.3s;
  will-change: transform;
}

/* Section social media cards */
.social-media-cards {
  margin-top: -50px;
  line-height: 1.2;
  margin-bottom: 3em;
}

/* Card */
.card {
  background: var(--cardBg);
  border-radius: 0.5em;
  overflow: hidden;
  text-align: center;
  padding: 1em 0;
  position: relative;
}
.card::before {
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background: var(--facebook);
}
.card.twitter::before {
  background: var(--twitter);
}
.card.instagram::before {
  background-image: var(--instagram);
}
.card.youtube::before {
  background: var(--youtube);
}
.card-title {
  color: var(--textSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.card-title img {
  width: 20px;
  height: 20px;
  margin-right: 0.3em;
}

.card-followers__total {
  font-size: 50px;
  font-weight: 700;
}
.card-followers__title {
  display: block;
  color: var(--textSecondary);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-today {
  margin-top: 20px;
  color: var(--limeGreen);
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-today img {
  margin-right: 0.3em;
}
.card-today.is-danger {
  color: var(--brightRed);
}

/* Overview today cards */
.overview-today-cards {
  margin-bottom: 2em;
}

.overview-today-cards__title {
  color: var(--textSecondary);
  margin-bottom: 1em;
}

.card-view {
  background: var(--cardBg);
  border-radius: 0.5em;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.2em;
}
.card-view p {
  margin: 0;
  font-weight: 700;
  line-height: 0.9;
}
.card-view__description {
  color: var(--textSecondary);
}
.card-view__icon {
  text-align: right;
}
.card-view__total {
  font-size: 2.5em;
}
.card-view__percentage {
  color: var(--limeGreen);
  font-size: 0.9em;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.card-view__percentage span {
  display: flex;
  align-items: center;
}
.card-view__percentage img {
  margin-right: 0.3em;
}

.card-view__percentage.is-danger {
  color: var(--brightRed);
}

@media screen and (min-width: 560px) {
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Header */
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 150px;
  }
  .header-description {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Switch - Dark theme */
    --bgToggle: linear-gradient(
      to right,
      hsl(210, 78%, 56%) 0%,
      hsl(146, 68%, 55%) 100%
    );

    /* Neutral colors - Dark theme */
    --bgColor: hsl(230, 17%, 14%);
    --topPatternBg: hsl(232, 19%, 15%);
    --cardBg: hsl(228, 28%, 20%);
    --textPrimary: hsl(0, 0%, 100%);
    --textSecondary: hsl(228, 34%, 66%);
  }
}
